body {
    background-color: lightpink;
}

.cards {
    margin: 70px;
    display: flex;
    flex-direction: row wrap; 
}
.card {
    display: flex;
    
}
.type {
    display: flex;
    justify-content: center;
}
.name {
    display: flex;
    justify-content: center;
}
.buttons {
    margin: 50px;
    display: flex;
    justify-content: space-around;
}
#cardContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
